.speakIt-mic {
	margin-left:10px;
	background:url('img/speakIt.png') no-repeat 0 0;
	width: 16px;
	height: 23px;
	background-size: 100%;
	display: inline-block;
	&.recording {
		background-position: 0 -23px;
		.objblink;
	}
}

.speech-cont{
	float:right;
}
#speechInfo {
	font-size: 15px;
	text-align: right;
	vertical-align: 3px;
	color: #777;
	visibility: hidden;
	display: inline;
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.25;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.25;
    }
    100% {
        opacity:1;
    }
}

.objblink {
-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;    
}